<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/bstolte">Brian Stolte</a> - a product guy working on adding "web developer" to his list of skills. This version of Splurty is a collection of quotes from great guitar players.  Please feel free to add more quotes.  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'brian.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Brian Stolte</h2>
    <p>
      Newly minted web developer and an experienced product manager. You may remember Brian from such companies as Yahoo, SideStep, Fretbase, Groupon, Eventbrite and Indiegogo.  
    </p>
    <p>
      That's a picture of a blue <a target="_blank" href="https://en.wikipedia.org/wiki/Lingcod">Lingcod</a> caught San Francisco Bay.  
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>